<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @property.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @property.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @property.address_2 %>
</p>

<p>
  <strong>Address 3:</strong>
  <%= @property.address_3 %>
</p>

<p>
  <strong>Address 4:</strong>
  <%= @property.address_4 %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @property.post_code %>
</p>

<p>
  <strong>Client dx:</strong>
  <%= @property.client_dx %>
</p>

<p>
  <strong>Tel 1:</strong>
  <%= @property.tel_1 %>
</p>

<p>
  <strong>Tel 2:</strong>
  <%= @property.tel_2 %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Client fax:</strong>
  <%= @property.client_fax %>
</p>

<p>
  <strong>Last val:</strong>
  <%= @property.last_val %>
</p>

<p>
  <strong>Purchase price:</strong>
  <%= @property.purchase_price %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @property.purchase_date %>
</p>

<p>
  <strong>Last val date:</strong>
  <%= @property.last_val_date %>
</p>

<p>
  <strong>Loan with:</strong>
  <%= @property.loan_with %>
</p>

<p>
  <strong>Loan amount:</strong>
  <%= @property.loan_amount %>
</p>

<p>
  <strong>Vat:</strong>
  <%= @property.vat %>
</p>

<p>
  <strong>Account manager:</strong>
  <%= @property.account_manager_id %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @property.portfolio %>
</p>

<p>
  <strong>Bought from:</strong>
  <%= @property.bought_from %>
</p>

<p>
  <strong>Total value:</strong>
  <%= @property.total_value %>
</p>

<p>
  <strong>Date on:</strong>
  <%= @property.date_on %>
</p>

<p>
  <strong>Client dv:</strong>
  <%= @property.client_dv %>
</p>

<p>
  <strong>Contract type:</strong>
  <%= @property.contract_type %>
</p>

<p>
  <strong>Contract collect:</strong>
  <%= @property.contract_collect %>
</p>

<p>
  <strong>Contract dealer:</strong>
  <%= @property.contract_dealer %>
</p>

<p>
  <strong>Contract billed:</strong>
  <%= @property.contract_billed %>
</p>

<p>
  <strong>Contract renew:</strong>
  <%= @property.contract_renew %>
</p>

<p>
  <strong>Date m visit:</strong>
  <%= @property.date_m_visit %>
</p>

<p>
  <strong>Last person:</strong>
  <%= @property.last_person %>
</p>

<p>
  <strong>Contract vis 1:</strong>
  <%= @property.contract_vis_1 %>
</p>

<p>
  <strong>Contract vis 2:</strong>
  <%= @property.contract_vis_2 %>
</p>

<p>
  <strong>Contract vis 3:</strong>
  <%= @property.contract_vis_3 %>
</p>

<p>
  <strong>Contract vis 4:</strong>
  <%= @property.contract_vis_4 %>
</p>

<p>
  <strong>Contract vis 5:</strong>
  <%= @property.contract_vis_5 %>
</p>

<p>
  <strong>Contract vis 6:</strong>
  <%= @property.contract_vis_6 %>
</p>

<p>
  <strong>Contract vis 7:</strong>
  <%= @property.contract_vis_7 %>
</p>

<p>
  <strong>Contract vis 8:</strong>
  <%= @property.contract_vis_8 %>
</p>

<p>
  <strong>Contract vis 9:</strong>
  <%= @property.contract_vis_9 %>
</p>

<p>
  <strong>Contract vis 10:</strong>
  <%= @property.contract_vis_10 %>
</p>

<p>
  <strong>Contract vis 11:</strong>
  <%= @property.contract_vis_11 %>
</p>

<p>
  <strong>Contract vis 12:</strong>
  <%= @property.contract_vis_12 %>
</p>

<p>
  <strong>Client no visits:</strong>
  <%= @property.client_no_visits %>
</p>

<p>
  <strong>Property sold:</strong>
  <%= @property.property_sold %>
</p>

<p>
  <strong>Property sold date:</strong>
  <%= @property.property_sold_date %>
</p>

<p>
  <strong>Property sell val:</strong>
  <%= @property.property_sell_val %>
</p>

<p>
  <strong>Property last bill:</strong>
  <%= @property.property_last_bill %>
</p>

<p>
  <strong>Property last bill val:</strong>
  <%= @property.property_last_bill_val %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
