<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @bill.company_id %>
</p>

<p>
  <strong>Contract:</strong>
  <%= @bill.contract_id %>
</p>

<p>
  <strong>Period:</strong>
  <%= @bill.period %>
</p>

<p>
  <strong>Item:</strong>
  <%= @bill.item_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bill.type %>
</p>

<p>
  <strong>Collect:</strong>
  <%= @bill.collect %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @bill.discount %>
</p>

<p>
  <strong>Unique:</strong>
  <%= @bill.unique %>
</p>

<p>
  <strong>Number:</strong>
  <%= @bill.number %>
</p>

<p>
  <strong>Yr:</strong>
  <%= @bill.yr %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @bill.qty %>
</p>

<p>
  <strong>Vat:</strong>
  <%= @bill.vat %>
</p>

<p>
  <strong>Closed:</strong>
  <%= @bill.closed %>
</p>

<p>
  <strong>Val:</strong>
  <%= @bill.val %>
</p>

<p>
  <strong>Date:</strong>
  <%= @bill.date %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
