<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @let_type.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @let_type.description %>
</p>

<%= link_to 'Edit', edit_let_type_path(@let_type) %> |
<%= link_to 'Back', let_types_path %>
