<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
     <!-- <th>Address 1</th>
      <th>Address 2</th>
      <th>Address 3</th>
      <th>Post code</th> -->
      <th>Current period</th>
      <th>Date on</th>
      <th>Date last run</th>
      <th>Next bill no</th>
      <th>Current year</th>
      <!--
        <th>Next contract number</th>
        <th>Next allocation number</th>
      -->
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name,company %></td>

        <td><%= company.current_period %></td>
        <td><%= company.date_on %></td>
        <td><%= company.date_last_run %></td>
        <td><%= company.next_bill_no %></td>
        <td><%= company.current_year %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
