<%= form_for(@dealer) do |f| %>
  <% if @dealer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dealer.errors.count, "error") %> prohibited this dealer from being saved:</h2>

      <ul>
      <% @dealer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :add_1 %><br>
    <%= f.text_field :add_1 %>
  </div>
  <div class="field">
    <%= f.label :add_2 %><br>
    <%= f.text_field :add_2 %>
  </div>
  <div class="field">
    <%= f.label :add_3 %><br>
    <%= f.text_field :add_3 %>
  </div>
  <div class="field">
    <%= f.label :post_code %><br>
    <%= f.text_field :post_code %>
  </div>
  <div class="field">
    <%= f.label :dx %><br>
    <%= f.text_field :dx %>
  </div>
  <div class="field">
    <%= f.label :fax %><br>
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :tel %><br>
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label :email_1 %><br>
    <%= f.text_field :email_1 %>
  </div>
  <div class="field">
    <%= f.label :email_2 %><br>
    <%= f.text_field :email_2 %>
  </div>
  <div class="field">
    <%= f.label :email_3 %><br>
    <%= f.text_field :email_3 %>
  </div>
  <div class="field">
    <%= f.label :date_on %><br>
    <%= f.date_select :date_on %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
