<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @dealer.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dealer.name %>
</p>

<p>
  <strong>Add 1:</strong>
  <%= @dealer.add_1 %>
</p>

<p>
  <strong>Add 2:</strong>
  <%= @dealer.add_2 %>
</p>

<p>
  <strong>Add 3:</strong>
  <%= @dealer.add_3 %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @dealer.post_code %>
</p>

<p>
  <strong>Dx:</strong>
  <%= @dealer.dx %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @dealer.fax %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @dealer.tel %>
</p>

<p>
  <strong>Email 1:</strong>
  <%= @dealer.email_1 %>
</p>

<p>
  <strong>Email 2:</strong>
  <%= @dealer.email_2 %>
</p>

<p>
  <strong>Email 3:</strong>
  <%= @dealer.email_3 %>
</p>

<p>
  <strong>Date on:</strong>
  <%= @dealer.date_on %>
</p>

<%= link_to 'Edit', edit_dealer_path(@dealer) %> |
<%= link_to 'Back', dealers_path %>
