<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @detail.description %>
</p>

<p>
  <strong>Vat code:</strong>
  <%= @detail.vat_code %>
</p>

<p>
  <strong>Val:</strong>
  <%= @detail.val %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @detail.nom %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @detail.qty %>
</p>

<p>
  <strong>Item val:</strong>
  <%= @detail.item_val %>
</p>

<p>
  <strong>Link:</strong>
  <%= @detail.link %>
</p>

<p>
  <strong>Date added:</strong>
  <%= @detail.date_added %>
</p>

<p>
  <strong>Plink:</strong>
  <%= @detail.plink %>
</p>

<p>
  <strong>Suspend:</strong>
  <%= @detail.suspend %>
</p>

<p>
  <strong>Why:</strong>
  <%= @detail.why %>
</p>

<p>
  <strong>Date:</strong>
  <%= @detail.date %>
</p>

<p>
  <strong>Vat:</strong>
  <%= @detail.vat %>
</p>

<p>
  <strong>Closed:</strong>
  <%= @detail.closed %>
</p>

<p>
  <strong>Val:</strong>
  <%= @detail.val %>
</p>

<p>
  <strong>Date:</strong>
  <%= @detail.date %>
</p>

<p>
  <strong>Contract:</strong>
  <%= @detail.contract_id %>
</p>

<%= link_to 'Edit', edit_detail_path(@detail) %> |
<%= link_to 'Back', details_path %>
